Đây là danh sách các video youtube:

<div class="row">

  <div class="col-3" *ngFor="let video of filterPlaylist; index as idx">

    <div class="card" style="width: 18rem;" [routerLink]="'/video/' + video.id + '/' + video.song ">
      <img src="https://img.youtube.com/vi/{{video.id}}/default.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{ video.song }}</p>
      </div>
    </div>

  </div>

</div>
<!--<ul>-->

<!--  <li *ngFor="let video of playlist">-->
<!--    <a [routerLink]="'/video/' + video.id + '/' + video.song ">-->
<!--      {{ video.song }}-->
<!--    </a>-->
<!--  </li>-->

<!--</ul>-->
